##                       EXAMPLE ENVIRONMENT                       ##
## _______________________________________________________________ ##

## -- SERVER
URL_PATHING=http://
SERVER_PORT=
API_BASE_PATH=
ROUTE_ENDPOINT_FOLDER=

## _____________________________________________________________________________________________________________________

## -- VERSION
APP_VERSION=1.0.0
APP_ENV=development

## _____________________________________________________________________________________________________________________

## -- JWT
JWT_SECRET=
ACCESS_EXPIRATION=
REFRESH_EXPIRATION=